<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Панель админа</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="#"/>
    <link href="/css/admin/admin.css" type="text/css" rel="stylesheet"/>
    <link href="/css/admin/notification.css" type="text/css" rel="stylesheet"/>

</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="navbar navbar-inverse navbar-static-top header">
            <a class="navbar-brand" href="#"><b>Pacman player</b></a>
            <a class="navbar-brand pull-right" href="/logout">Выход</a>
            <button id="notification" class="navbar-brand pull-right">Уведомлений</button>
            <div id="listNotification" class="pull-right"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">

            <!--меню слева-->
            <ul class="nav nav-pills nav-stacked nav-content">
                <li>
                    <a href="/admin/users">Пользователи</a>
                </li>

                <li class="active">
                    <a href="/admin/companies">Компании</a>
                </li>

                <li>
                    <a href="/admin/establishments">Типы заведений</a>
                </li>

                <li>
                    <a href="/admin/genres">Жанры</a>
                </li>

                <li>
                    <a href="/admin/performers">Исполнители</a>
                </li>

                <li>
                    <a href="/admin/songs">Песни</a>
                </li>

                <li>
                    <a href="/admin/vk_bot">Послать отчет</a>
                </li>

                <li>
                    <a href="/admin/message">Сообщения</a>
                </li>

                <li>
                    <a href="/user/spa#/statistics">Меню пользователя</a>
                </li>
            </ul>
        </div>

        <!--центральный блок-->
        <div class="col-lg-9 col-md-10 col-xs-10">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="list-companies">
                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li id="company-table-nav" class="active">
                            <a id="tab-company-panel" href="#company-panel" aria-controls="company-panel" role="tab"
                               data-toggle="tab">Все компании</a>
                        </li>
                        <li id="add-company-nav">
                            <a href="#add-company-panel" aria-controls="add-company-panel" role="tab" data-toggle="tab">
                                Новая компания</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--таблица компаний-->
                        <div role="tabpanel" class="tab-pane active" id="company-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <!--<h4>Все компании</h4>-->
                                        <table id="companiesTable" class="table">
                                            <thead id="getCompaniesTable">
                                            <tr>
                                                <th>ID</th>
                                                <th>Название</th>
                                                <th>Начало работы</th>
                                                <th>Конец работы</th>
                                                <th>Тип организации</th>
                                                <th>ID пользователя</th>
                                                <th>Изменить</th>
                                                <!--                                                <th>Удалить</th>-->
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--добавление компаний-->
                        <div role="tabpanel" class="tab-pane" id="add-company-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                                    <form id="addCompanyForm">
                                                        <div class="form-group text-center edit-form">

                                                            <label for="addCompanyName">Название</label>
                                                            <input id="addCompanyName" class="form-control" type="text"
                                                                   placeholder="Enter company name" name="compName"/>

                                                            <label for="addStart">Начало работы</label>
                                                            <input id="addStart" class="form-control" type="time"
                                                                   placeholder="Opening at" name="begin-time"/>

                                                            <label for="addClose">Конец работы</label>
                                                            <input id="addClose" class="form-control"
                                                                   type="time" placeholder="Closing at"
                                                                   name="end-time"/>

                                                            <label for="addCompType">Тип компании</label>
                                                            <select class="form-control" id="addCompType"
                                                                    name="compType">
                                                                <option value="test">Test company TO CHANGE</option>
                                                                <option value="test2">Test company TO CHANGE 2</option>
                                                            </select>

                                                            <button type="submit" id="addCompanyBtn"
                                                                    class="btn btn-success btn-lg">
                                                                Добавить
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--модалка - компания-->
                <div id="editCompany" class="modal fade">
                    <div class="modal-dialog" id="editCompany-dialog" >
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Информация о компании</h4>
                            </div>

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                            <form id="company-form">
                                                <div class="form-group text-center edit-form">

                                                    <label for="updateCompanyId">ID компании</label>
                                                    <input id="updateCompanyId" class="form-control" disabled="disabled"
                                                           type="text"
                                                           name="id" required=""/>

                                                    <label for="updateIdUser">ID пользователя</label>
                                                    <input id="updateIdUser" class="form-control"
                                                           type="text" name="id-user" required=""/>

                                                    <label for="updateNameCompany">Компания</label>
                                                    <input id="updateNameCompany" class="form-control" type="text"
                                                           name="company"
                                                           required=""/>

                                                    <label for="updateStartTime">Время открытия</label>
                                                    <input id="updateStartTime" class="form-control" type="time"
                                                           name="start-time"
                                                           required=""/>

                                                    <label for="updateCloseTime">Время закрытия</label>
                                                    <input id="updateCloseTime" class="form-control" type="time"
                                                           name="close-time"
                                                           required=""/>

                                                    <label for="updateOrgType">Тип компании</label>
                                                    <select id="updateOrgType" class="form-control" name="role">
                                                        <!--                                                        onchange="getAllEstablishments()"-->
                                                    </select>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Закрыть
                                                        </button>
                                                        <button id="editCompanyBtn" class="btn btn-primary" type="submit"
                                                                data-dismiss="modal">
                                                            Изменить
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/admin/admin.js" rel="script"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/js/admin/companies.js" rel="script"></script>
<script type="text/javascript" src="/js/notification.js" rel="script"></script>
<script type="text/javascript" src="/js/stomp.js" rel="script"></script>

</body>
</html>