<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="#"/>
    <link href="/css/admin/admin.css" type="text/css" rel="stylesheet"/>

</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="navbar navbar-inverse navbar-static-top header">
            <a class="navbar-brand" href="#">Project name</a>
            <a class="navbar-brand pull-right" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">

            <!--меню слева-->
            <ul class="nav nav-pills nav-stacked nav-content">
                <li>
                    <a href="/admin/users">Пользователи</a>
                </li>

                <li>
                    <a href="/admin/companies">Компании</a>
                </li>

                <li class="active">
                    <a href="/admin/establishments">Типы заведений</a>
                </li>

                <li>
                    <a href="/admin/genres">Жанры</a>
                </li>

                <li>
                    <a href="/admin/performers">Исполнители</a>
                </li>

                <li>
                    <a href="/admin/songs">Песни</a>
                </li>

                <li>
                    <a href="/user">Меню пользователя</a>
                </li>
            </ul>
        </div>

        <!--центральный блок-->
        <div class="col-lg-9 col-md-10 col-xs-10">
            <div class="tab-content">

                <div class="tab-pane active" id="list-establishments" role="tabpanel">
                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li id="user-table-nav" class="active">
                            <a aria-controls="establishments-panel" data-toggle="tab" href="#establishments-panel"
                               id="tab-user-panel" role="tab">Все заведения</a>
                        </li>
                        <li id="add-user-nav">
                            <a aria-controls="add-establishments-panel" data-toggle="tab"
                               href="#add-establishments-panel" role="tab">
                                Новое заведение</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--таблица заведений-->
                        <div class="tab-pane active" id="establishments-panel" role="tabpanel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <table class="table" id="establishmentsTable">
                                            <thead id="getEstablishmentsTable">
                                            <tr>
                                                <th>ID</th>
                                                <th>Название</th>
                                                <th>Изменить</th>
                                                <th>удалить</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--добавление заведения-->
                        <div class="tab-pane" id="add-establishments-panel" role="tabpanel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                                    <form id="addForm">
                                                        <div class="form-group text-center edit-form">
                                                            <label for="addName">Название</label>
                                                            <input class="form-control" id="addName" name="name"
                                                                   placeholder="Название" type="text"/>

                                                            <button class="btn btn-success btn-lg"
                                                                    id="addEstablishmentBtn"
                                                                    type="submit">
                                                                Добавить
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--модалка - заведения-->
                        <div class="modal fade" id="editEstablishment">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×
                                        </button>
                                        <h4 class="modal-title">Информация о заведении</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                    <form id="establishment-form">
                                                        <div class="form-group text-center edit-form">
                                                            <label for="updateEstablishmentId">ID заведения</label>
                                                            <input class="form-control" disabled="disabled"
                                                                   id="updateEstablishmentId" name="id"
                                                                   required="" type="text"/>

                                                            <label for="updateEstablishmentName">Компания</label>
                                                            <input class="form-control" id="updateEstablishmentName"
                                                                   name="company" required=""
                                                                   type="text"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal" type="button">Закрыть
                                        </button>
                                        <button class="btn btn-primary" id="editEstablishmentBtn">Изменить</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script rel="script" src="/js/admin/establishments.js" type="text/javascript"></script>

</body>
</html>