<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="#"/>
    <link href="/css/admin/admin.css" type="text/css" rel="stylesheet"/>
    <link href="/css/admin/notification.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">

    <div class="row" th:include="admin/fragment/navigation :: adminHeader"></div>

    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">
            <!--меню слева-->
            <ul class="nav nav-pills nav-stacked nav-content" th:include="admin/fragment/navigation :: adminNavbar">
            </ul>
        </div>

        <!--центральный блок-->
        <div class="col-lg-9 col-md-10 col-xs-10">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="list-messages">
                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li id="messages-table-nav" class="active">
                            <a id="tab-messages-panel" href="#messages-panel" aria-controls="messages-panel" role="tab"
                               data-toggle="tab">Все уведомления</a>
                        </li>
                        <li id="add-notifications-nav">
                            <a href="#add-notifications-panel" aria-controls="add-messages-panel" role="tab"
                               data-toggle="tab">
                                Создать новое уведомление</a>
                        </li>
                        <li id="add-messages-nav">
                            <a href="#notifications-template-panel" aria-controls="add-messages-panel" role="tab"
                               data-toggle="tab">
                                Редактировать шаблон уведомления</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--таблица уведомлений-->
                        <div role="tabpanel" class="tab-pane active" id="messages-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <table id="notificationTable" class="table">
                                            <thead id="getNotificationTable">
                                            <tr>
                                                <th>ID</th>
                                                <th>Уведомление</th>
                                                <th>Пользователь</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>

                                            <!--модалка - обновление уведомлений-->
                                            <div id="editNotifications" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×
                                                            </button>
                                                            <h4 class="modal-title">Изменить уведомление</h4>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                                        <div id="success-edit-message"
                                                                             class="alert alert-danger hidden">
                                                                            <div id="message"></div>
                                                                        </div>
                                                                        <form id="edit-form">
                                                                            <div class="form-group text-center edit-form">
                                                                                <label for="updateNotificationsId">ID</label>
                                                                                <input id="updateNotificationsId"
                                                                                       class="form-control"
                                                                                       disabled="disabled" type="text"
                                                                                       name="id" required=""/>
                                                                                <input type="hidden"
                                                                                       id="id-input-edit-hidden"
                                                                                       name="id"/>

                                                                                <label for="updateNotificationsUser">User</label>
                                                                                <input id="updateNotificationsUser"
                                                                                       class="form-control"
                                                                                       disabled="disabled" type="text"
                                                                                       name="id" required=""/>
                                                                                <input type="hidden"
                                                                                       id="id-input-edit-hidden-user"
                                                                                       name="user"/>

                                                                                <label for="updateNotificationsMessage">Текст
                                                                                    Уведомления</label>
                                                                                <input id="updateNotificationsMessage"
                                                                                       class="form-control" type="text"
                                                                                       name="name"
                                                                                       required=""/>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button id="closeEditNotifications" type="button"
                                                                    class="btn btn-default"
                                                                    data-dismiss="modal">Закрыть
                                                            </button>
                                                            <button id="editNotificationsBtn" class="btn btn-primary">
                                                                Изменить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--добавление уведомлений-->
                        <div role="tabpanel" class="tab-pane" id="add-notifications-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                                    <form id="addForm">
                                                        <div class="form-group text-center edit-form">
                                                            <label for="addMessage">Текст уведомления</label>
                                                            <input id="addMessage" class="form-control" type="text"
                                                                   placeholder="Введите текст уведомления"
                                                                   name="message"/>
                                                            <label for="addUser">Пользователь</label>
                                                            <select id="addUser" class="form-control" name="template">
                                                            </select>
                                                            <button type="submit" id="addNotificationBtn"
                                                                    class="btn btn-success"
                                                                    style="margin-top: 20px;">
                                                                Отправить уведомление
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="notifications-template-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                                    <form id="templateForm">
                                                        <div class="form-group text-center edit-form">
                                                            <label for="templateText">Шаблон автоматического
                                                                уведомления</label>
                                                            <span>
                                                                <p>Используйте {subject} для подстановки текста в уведомление</p>
                                                                <p>Используйте {link:ссылка:текст:} для подстановки ссылки в уведомление</p>
                                                            </span>
                                                            <input id="templateText" class="form-control" type="text"
                                                                   placeholder="Введите текст уведомления"
                                                                   name="template"/>
                                                            <button type="button" id="editTemplateBtn"
                                                                    class="btn btn-success"
                                                                    style="margin-top: 20px;">
                                                                Изменить шаблон
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/js/security.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/notifications.js" rel="script"></script>
<script type="text/javascript" src="/js/notification.js" rel="script"></script>
<script type="text/javascript" src="/js/stomp.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/admin.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/users.js" rel="script"></script>
<script type="text/javascript" src="/js/notificationsHandler.js" rel="script"></script>
</body>
</html>