<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Панель админа</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="#"/>
    <link href="/css/admin/admin.css" type="text/css" rel="stylesheet"/>
    <link href="/css/admin/notification.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">

    <div class="row" th:include="admin/fragment/navigation :: adminHeader"></div>

    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">
            <!--меню слева-->
            <ul class="nav nav-pills nav-stacked nav-content" th:include="admin/fragment/navigation :: adminNavbar">
            </ul>
        </div>

        <!--центральный блок-->
        <div class="col-lg-9 col-md-10 col-xs-10">
            <div class="tab-content">

                <!--общий список и добавление нового автора-->
                <div id="list-authors" class="tab-pane active" role="tabpanel">
                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li id="authors-table-nav" class="active">
                            <a id="tab-author-panel" href="#authors-panel" aria-controls="add-authors-panel" role="tab"
                               data-toggle="tab">Все исполнители</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--общий список авторов-->
                        <div id="authors-panel" class="tab-pane active" role="tabpanel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <table id="AuthorTable" class="table">
                                            <thead id="getAuthorTable">
                                            <tr>
                                                <th>ID</th>
                                                <th>Разрешен</th>
                                                <th>Имя</th>
                                                <th>Жанр</th>
                                                <th>Изменить</th>
                                                <th>Удалить</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--модальное окно обновления автора-->
                        <div id="editAuthor" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true"></button>
                                        <h4 class="modal-title">Изменить исполнителя</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                    <form id="edit-form">
                                                        <div class="form-group text-center edit-form">
                                                            <div>
                                                                <label for="editAuthorId">ID</label>
                                                                <input id="editAuthorId"
                                                                       class="form-control"
                                                                       disabled="disabled"
                                                                       type="text"
                                                                       name="id"/>
                                                            </div>
                                                            <div>
                                                                <label for="editAuthorName">Имя</label>
                                                                <input id="editAuthorName"
                                                                       class="form-control"
                                                                       name="name"
                                                                       type="text"/>
                                                            </div>
                                                            <div>
                                                                <label for="editAuthorGenre">Жанр</label>
                                                                <select class="form-control"
                                                                        id="editAuthorGenre"
                                                                        name="updateGenre">
                                                                    <!--заполняем через js-->
                                                                </select>
                                                            </div>
                                                            <div><label for="editAuthorApproved"
                                                                        class="checkbox-inline">
                                                                <input id="editAuthorApproved"
                                                                       name="approved"
                                                                       class="form-control"
                                                                       type="checkbox"/>Разрешен</label>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button class="btn btn-default"
                                                                        data-dismiss="modal"
                                                                        type="button">
                                                                    Закрыть
                                                                </button>
                                                                <button id="editAuthorBtn"
                                                                        class="btn btn-primary"
                                                                        type="submit">
                                                                    Изменить
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Jquery validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/js/security.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/admin.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/performers.js" rel="script"></script>
<script type="text/javascript" src="/js/notification.js" rel="script"></script>
<script type="text/javascript" src="/js/stomp.js" rel="script"></script>
<script type="text/javascript" src="/js/notificationsHandler.js" rel="script"></script>
</body>
</html>