<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="#"/>
    <link href="/css/admin/admin.css" type="text/css" rel="stylesheet"/>

</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="navbar navbar-inverse navbar-static-top header">
            <a class="navbar-brand" href="#">Project name</a>
            <a class="navbar-brand pull-right" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">

            <!--меню слева-->
            <ul class="nav nav-pills nav-stacked nav-content">
                <li>
                    <a href="/admin/users">Пользователи</a>
                </li>

                <li>
                    <a href="/admin/companies">Компании</a>
                </li>

                <li>
                    <a href="/admin/establishments">Типы заведений</a>
                </li>

                <li>
                    <a href="/admin/genres">Жанры</a>
                </li>

                <li class="active">
                    <a href="/admin/performers">Исполнители</a>
                </li>

                <li>
                    <a href="/admin/songs">Песни</a>
                </li>

                <li>
                    <a href="/user">Меню пользователя</a>
                </li>
            </ul>
        </div>

        <!--центральный блок-->
        <div class="col-lg-9 col-md-10 col-xs-10">
            <div class="tab-content">

                <!--общий список и добавление нового автора-->
                <div class="tab-pane active" id="list-authors" role="tabpanel">
                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li class="active" id="authors-table-nav">
                            <a aria-controls="add-authors-panel" data-toggle="tab" href="#authors-panel"
                               id="tab-author-panel" role="tab">Все исполнители</a>
                        </li>
                        <li id="add-authors-nav">
                            <a aria-controls="add-authors-panel" data-toggle="tab" href="#add-author-panel" role="tab">Новый
                                исполнитель</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--общий список авторов-->
                        <div class="tab-pane active" id="authors-panel" role="tabpanel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <table class="table" id="AuthorTable">
                                            <thead id="getAuthorTable">
                                            <tr>
                                                <th>ID</th>
                                                <th>Имя</th>
                                                <th>Изменить</th>
                                                <th>Удалить</th>
                                            </tr>
                                            </thead>

                                            <!--модальное окно обновления автора-->
                                            <div class="modal fade" id="editAuthor">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button aria-hidden="true" class="close"
                                                                    data-dismiss="modal" type="button"></button>
                                                            <h4 class="modal-title">Изменить исполнителя</h4>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                                        <div class="alert alert-danger hidden"
                                                                             id="success-edit-message">
                                                                            <div id="message"></div>
                                                                        </div>
                                                                        <form id="edit-form">
                                                                            <div class="form-group text-center edit-form">
                                                                                <label for="editAuthorId">ID</label>
                                                                                <input class="form-control"
                                                                                       disabled="disabled"
                                                                                       id="editAuthorId" name="id"
                                                                                       required="" type="text"/>
                                                                                <input id="id-input-edit-hidden"
                                                                                       name="id" type="hidden"/>

                                                                                <label for="editAuthorName">Имя</label>
                                                                                <input class="form-control"
                                                                                       id="editAuthorName" name="name"
                                                                                       required="" type="text"/>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button class="btn btn-default" data-dismiss="modal"
                                                                    type="button">Закрыть
                                                            </button>
                                                            <button class="btn btn-primary" id="editAuthorBtn">
                                                                Изменить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--добавление автора-->
                        <div class="tab-pane" id="add-author-panel" role="tabpanel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                    <form id="addForm">
                                                        <div class="form-group text-center edit-form">
                                                            <label for="addAuthor">Исполнитель</label>
                                                            <input class="form-control" id="addAuthor" name="author"
                                                                   placeholder="Enter performer" type="text"/>
                                                            <button class="btn btn-success btn-lg" id="addAuthorBtn"
                                                                    style="margin-top: 20px;" type="button">Добавить
                                                                исполнителя
                                                            </button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script rel="script" src="/js/admin/performers.js" type="text/javascript"></script>

</body>
</html>