<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Панель админа</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="#"/>
    <link href="/css/admin/admin.css" type="text/css" rel="stylesheet"/>
    <link href="/css/admin/notification.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">

    <div class="row" th:include="admin/fragment/navigation :: adminHeader"></div>

    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">
            <!--меню слева-->
            <ul class="nav nav-pills nav-stacked nav-content" th:include="admin/fragment/navigation :: adminNavbar">
            </ul>
        </div>

        <!--центральный блок-->
        <div class="col-lg-9 col-md-10 col-xs-10">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="list-tags">
                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li id="tags-table-nav" class="active">
                            <a id="tab-tags-panel"
                               href="#tags-panel"
                               aria-controls="tags-panel"
                               role="tab"
                               data-toggle="tab">
                                Все тэги
                            </a>
                        </li>
                        <li id="add-tags-nav">
                            <a href="#add-tags-panel" aria-controls="add-tags-panel" role="tab" data-toggle="tab">
                                Новый тэг</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!-- Таблица тэгов -->
                        <div role="tabpanel" class="tab-pane active" id="tags-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <table id="tagsTable" class="table">
                                            <thead id="getTagsTable">
                                            <tr>
                                                <th>ID</th>
                                                <th>Тэг</th>
                                                <th>Изменить</th>
                                                <th>Удалить</th>
                                                <th>Управление песнями</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Пагинация вывода тегов -->
                        <nav>
                            <ul class="pagination justify-content-center" id="pagesNumsTagsList">
                            </ul>
                        </nav>

                        <!-- Статическая форма добавления нового тэга -->
                        <div id="add-tags-panel" class="tab-pane" role="tabpanel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                    <form id="addForm">
                                                        <div class="form-group text-center edit-form">
                                                            <div>
                                                                <label for="addTag">Тэг</label>
                                                                <input id="addTag"
                                                                       name="name"
                                                                       type="text"
                                                                       placeholder="Tag"
                                                                       class="form-control"/>
                                                            </div>
                                                            <button id="addTagBtn"
                                                                    class="btn btn-success btn-lg"
                                                                    type="submit"
                                                                    style="margin-top: 20px;">
                                                                Добавить
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Изменение тэга (модальное окно) -->
                        <div id="editTags" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title">Изменить тэг</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">

                                                    <form id="editForm">
                                                        <div class="form-group text-center edit-form">
                                                            <label for="updateTagsId">ID</label>
                                                            <input id="updateTagsId"
                                                                   name="id"
                                                                   class="form-control"
                                                                   disabled="disabled"
                                                                   type="text"/>

                                                            <label for="updateTagsName">Тэг</label>
                                                            <input id="updateTagsName"
                                                                   name="name"
                                                                   class="form-control"
                                                                   type="text"/>

                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Закрыть
                                                                </button>
                                                                <button id="editTagsBtn"
                                                                        class="btn btn-primary"
                                                                        type="submit">
                                                                    Изменить
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Удаление тэга для песен, относящихся к выбранному тэгу (модальное окно) -->
                        <div id="songTagManagement" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                id="btnCloseModal">×
                                        </button>
                                        <h4 class="modal-title">Удалить тэг для избранных песен</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                                    <form id="deleteTagForSongsForm">

                                                        <div class="row">

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <input type="hidden" id="tagId" value=""/>
                                                                    <input type="hidden" id="tagName" value=""/>
                                                                    <table id="listOfSongsByTag" class="table">
                                                                        <tr>
                                                                            <td><input class="chcheckAll"
                                                                                       type="checkbox" name=""
                                                                                       id="select-all"
                                                                                       th:marginheight="auto"/> Выбрать
                                                                                все
                                                                            </td>
                                                                            <!-- select all boxes -->

                                                                        </tr>
                                                                    </table>

                                                                </div>
                                                            </div>

                                                        </div>


                                                        <div class="form-group text-center edit-form">


                                                            <div class="modal-footer">
                                                                <button id="deleteTagForSongsBtn"
                                                                        class="btn btn-success"
                                                                        type="submit">
                                                                    Удалить
                                                                </button>
                                                                <button type="button"
                                                                        id="btnClose"
                                                                        class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Закрыть
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Jquery validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/js/security.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/admin.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/tags.js" rel="script"></script>
<script type="text/javascript" src="/js/notification.js" rel="script"></script>
<script type="text/javascript" src="/js/stomp.js" rel="script"></script>
<script type="text/javascript" src="/js/notificationsHandler.js" rel="script"></script>
<script type="text/javascript" src="/js/admin/songs.js" rel="script"></script>
</body>
</html>