<!doctype html>
    <html lang="en">

        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

            <title>Pacman Player</title>
            <!-- Bootstrap CSS -->
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous"
            />
        </head>

        <body>
            <!-- меню -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active"
                       id="nav-genre-tab"
                       data-toggle="tab"
                       href="#nav-genre"
                       role="tab" aria-controls="nav-home"
                       aria-selected="true"
                    >
                        По жанрам
                    </a>

                    <a class="nav-item nav-link"
                       id="nav-artists-tab"
                       data-toggle="tab"
                       href="#nav-artists"
                       role="tab"
                       aria-controls="nav-profile"
                       aria-selected="false"
                    >
                        По артистам
                    </a>

                    <a class="nav-item nav-link"
                       id="nav-song-tab"
                       data-toggle="tab"
                       href="#nav-song"
                       role="tab"
                       aria-controls="nav-contact"
                       aria-selected="false"
                    >
                        По песням
                    </a>

                </div>
            </nav>

            <!-- контент для меню -->
            <div class="tab-content" id="nav-tabContent">

                <!-- контент для "По жанрам" -->
                <div class="tab-pane fade show active" id="nav-genre" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div id="forGenreTable">
                        <!-- скрипт заполнения таблицы в файле filterMusic.js -->
                    </div>
                </div>

                <!-- поиск и генерация таблиц найденых песен и артистов будет производиться в filterMusic.js -->
                <!-- контент для "По артистам" -->
                <div class="tab-pane fade" id="nav-artists" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <form class="form-inline authorSearch">
                        <input class="form-control mr-sm-2 nameForAuthor" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <div id="forAuthorTable">
                        <!-- скрипт заполнения таблицы в файле filterMusic.js -->
                    </div>

                </div>

                <!-- контент для "По песням" -->
                <div class="tab-pane fade" id="nav-song" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <form class="form-inline musicSearch">
                        <input class="form-control mr-sm-2 nameForMusic" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <div id="forMusicTable">
                        <!-- скрипт заполнения таблицы в файле filterMusic.js -->
                    </div>

                </div>

            </div>

            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous">
            </script>
            <script src=
                            "http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js">
            </script>

            <script type="text/javascript" src="/js/user/filterMusic.js"></script>
        </body>

    </html>