<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Статистика</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="/css/admin/notification.css" type="text/css" rel="stylesheet"/>
    <style>
        tr {
            line-height: 45px;
            min-height: 45px;
            height: 45px;
        }
        #scrollable-part {
            height: 300px;
            overflow-y: scroll;
            padding: 0px 0px;
        }
    </style>
</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5e3423a0298c395d1ce587b6/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<body  class="bg-dark">
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse navbar-static-top header">
            <a class="navbar-brand" href="#"><b>Pacman player</b></a>
            <a class="navbar-brand pull-right" href="/logout">Выход</a>
            <button id="notification" class="navbar-brand pull-right">Уведомлений</button>
            <div id="listNotification" class="pull-right"></div>
        </div>
    </div>

    <div class="row">

        <!--меню слева-->
        <div id="leftMenu" th:fragment="leftMenu"  class="col-lg-2 col-md-2 col-xs-2 right-bar right-menu">
            <ul class="nav nav-pills nav-stacked nav-content bg-dark">
                <li>
                    <a href="/user/statistics">Статистика</a>
                </li>
                <li>
                    <a href="/user/compilation">Моя подборка</a>
                </li>
                <li>
                    <a href="/user/filter">Фильтр музыки</a>
                </li>
                <li>
                    <a href="/user/company">Моё заведение</a>
                </li>
                <li>
                    <a href="/user/promo">Промо - материалы</a>
                </li>
                <li>
                    <a href="/user/edit">Редактирование профиля</a>
                </li>
                <li id="adminLink">
                    <a href="/admin/users">Администратор</a>
                </li>
            </ul>
        </div>

        <!--центральный блок-->
<!--        <div class="tab-content">-->
            <div role="tabpanel" class="tab-pane active col-lg-6 col-md-6 col-xs-6 " id="my-selection">

                <H3> Статистика</H3>


            </div>
<!--        </div>-->

        <!-- right side stats bar-->
        <div class="container col-lg-4 col-md-4 col-xs-4 col-xl-4" id="right-side-bar">
                <table class="table bg-white stats-table">
                    <thead>
                    <tr>
                        <th class="orders-title">Заказы</th>
                        <th class="orders-type-free text-right small text-secondary">Бесплатных</th>
                        <th class="orders-type-total text-right">Всего</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="orders-today-label">За сегодня</td>
                        <td class="orders-today-free text-right text-secondary"><span>0</span></td>
                        <td class="orders-today-total text-right"><span>0</span></td>
                    </tr>
                    <tr>
                        <td class="orders-yesterday-label">За вчера</td>
                        <td class="orders-yesterday-free text-right text-secondary"><span>0</span></td>
                        <td class="orders-yesterday-total text-right"><span>0</span></td>
                    </tr>
                    <tr>
                        <td class="orders-week-label">За неделю</td>
                        <td class="orders-week-free text-right text-secondary"><span>0</span></td>
                        <td class="orders-week-total text-right"><span>0</span></td>
                    </tr>
                    <tr>
                        <td class="orders-month-label">За месяц</td>
                        <td class="orders-month-free text-right text-secondary"><span>0</span></td>
                        <td class="orders-month-total text-right"><span>0</span></td>
                    </tr>
                    <tr>
                        <td class="orders-total-label">За все время</td>
                        <td class="orders-total-free text-right text-secondary"><span>0</span></td>
                        <td class="orders-total-total text-right"><span>0</span></td>
                    </tr>
                    </tbody>
                </table>
            <div class="text-center"><h6>Очередь заказов</h6></div>
            <div id="scrollable-part">
                <table class="table bg-white song-queue-block">
                    <thead>
                    <tr>
                    <th class="song-queue-block-header">
                        <span></span>
                    </th>
                    </tr>
                    </thead>
                    <tbody id="song-queue-list">
                    <tr>
                    <td class="text-center">
                            Нет песен в очереди
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/js/user/statistics.js" rel="stylesheet"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/js/notification.js" rel="script"></script>
<script type="text/javascript" src="/js/stomp.js" rel="script"></script>

</body>
</html>