<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>User page!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/сcs/style.css"/>
    <link href="/css/admin/notification.css" type="text/css" rel="stylesheet"/>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <link type="text/css" href="/css/user/user.css" rel="stylesheet"/>
    <script type="module" src="/spa/app.js"></script>

    <link rel="stylesheet" href="/css/player.css"/>
</head>

<body>
<!--    NavBar-->
    <div id="header_container"></div>

<!--    LeftSideBar-->
    <div id="menu_container"></div>


    <div id="page_container" class="container pageEntry" >
        <article> Loading....</article>
    </div>

<!--    BottomBar-->
    <div id="footer_container"></div>








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="/js/user/compilation-old.js" rel="stylesheet"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script type="text/javascript" src="/js/notification.js" rel="script"></script>
    <script type="text/javascript" src="/js/stomp.js" rel="script"></script>

</body>
    
</html>