body {
    background: #eeeeee;
}

.header {
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
}

.left-menu {
    background: white;
    padding: 20px 0 0 0;
    min-height: 94vh;
}

.left-menu ul li {
    margin: 0px;
}

.left-menu ul li a {
    border-radius: 0px;
}

.nav-content {
    margin-bottom: -1px;
}

.edit-form label {
    font-weight: 100;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.add-user-button {
    margin-top: 30px;
}

.list{
    padding-top: 20px;
}
.notify {
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    opacity: 0.9;
    width: 25%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#field{
    padding: 10px 10px;
}

.error {
    color: red;
}


