body {
    background: #eeeeee;
}

.header {
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
}

.left-menu {
    background: white;
    padding: 20px 0 0 0;
    min-height: 94vh;
}

.left-menu ul li {
    margin: 0px;
}

.left-menu ul li a {
    border-radius: 0px;
}

.nav-content {
    margin-bottom: -1px;
}

.edit-form label {
    font-weight: 100;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.add-user-button {
    margin-top: 30px;
}

.list{
    padding-top: 20px;
}
.notify {
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    opacity: 0.9;
    width: 25%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#field{
    padding: 10px 10px;
}

.error {
    color: red;
}

/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.customcheck input:disabled{
    background-color: #02cf32;
    border-radius: 10px;
}
input[type=checkbox][disabled]{
    background-color: #02cf32;
    border-radius: 10px;
}
input[type="checkbox"]:disabled+label
{
    color:#02cf32;
}
