.playerButton {
    /*position: absolute;*/
    cursor: pointer;
    opacity: 0.9;
}

.playBtn {
    background-image: url("https://img.icons8.com/officexs/40/000000/circled-play.png");
    /*background-image: url("/img/play.png");*/
    display: inline-block;
    /*position: absolute;*/
    /*border-color: white;*/
    width: 40px;
    height: 40px;
}

.pauseBtn {
    background-image: url("https://img.icons8.com/office/40/000000/circled-pause.png");
    /*background-image: url("/img/pause.png");*/
    width: 40px;
    height: 40px;
    /*border-color: white;*/
    display: none;
}

.bubble {
    background-image: url("https://img.icons8.com/ultraviolet/40/000000/active-state.png");
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
}

#playerContainer {
    position: sticky;
    background: #d1d1d1;
    border-radius: 10px;
    opacity: 0.8;
    left: 0;
    height: 150px;
    bottom: 20px;
    z-index: 9999;
}

#albums-cover{
    height: 100px;
    width: 100px;
    /*left: 0;*/
    margin-right: 10px;
}

#song-name{
    font-size: 17px;
    color: #0f0f0c;

}
#song-author{
    font-size: 14px;
    color: #3c3b3d;
}
.container{
    position:relative;
    display:inline-block;
}
