
.playBtn {
    background-image: url("/img/play-playlist.png");
    background-color: rgba(251,255,248,0);
    border-color: rgba(251,255,248,0);
    display: inline-block;
    width: 35px;
    height: 35px;
}

.pauseBtn {
    background-image: url("/img/pause-playlist.png");
    background-color: rgba(251,255,248,0);
    border-color: rgba(251,255,248,0);
    width: 35px;
    height: 35px;
    display: none;
}

#playerContainer {
    position: sticky;
    background: #ececec;
    opacity: 0.9;
    width: 100%;
    left: 0;
    height: 110px;
    bottom: 10px;
    display: none;
    /*z-index: 9999;*/
}

#playerContainer button {
    position: relative;
    bottom: 30%;
}

#albums-cover {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

#song-name {
    font-size: 17px;
    color: #0f0f0c;

}

#song-author {
    font-size: 14px;
    color: #3c3b3d;
}

#seekbar {
    width: 300px;
    cursor: pointer;
    margin-left: 10px;
}
#volumebar {
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}
.container {
    position: relative;
    display: inline-block;
}