<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background: #eeeeee;
        }
        .header {
            padding: 0px 10px 0px 10px;
            margin-bottom: 0px;
        }
        .left-menu {
            background: white;
            padding: 20px 0 0 0;
            min-height: 94vh;
        }
        .left-menu ul li {
            margin: 0px;
        }
        .left-menu ul li a {
            border-radius: 0px;
        }
        .nav-content {
            margin-bottom: -1px;
        }
        .edit-form label {
            font-weight: 100;
            font-size: 20px;
            margin: 10px 0 10px 0;
        }
        .add-user-button {
            margin-top: 30px;
        }
    </style>

</head>

<body>
<div class="container-fluid">
    <span sec:authentication="name">UserName</span>
    <div class="row">
        <div class="navbar navbar-inverse navbar-static-top header">
            <a class="navbar-brand" href="#">Project name</a>
            <a class="navbar-brand pull-right" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">
            <ul class="nav nav-pills nav-stacked nav-content">
                <li class="active">
                    <a href="#admin-page" aria-controls="admin-page" role="tab" data-toggle="tab">Admin</a>
                </li>
                <li>
                    <a href="#user-page" aria-controls="user-page" role="tab" data-toggle="tab">User</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-10 col-xs-10">

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="admin-page">
                    <h1>Admin panel</h1>

                    <ul class="nav nav-tabs nav-content" role="tablist">
                        <li id="user-table-nav" class="active">
                            <a href="#user-panel" aria-controls="user-panel" role="tab" data-toggle="tab">Users table</a>
                        </li>
                        <li id="add-user-nav">
                            <a href="#add-user-panel" aria-controls="add-user-panel" role="tab" data-toggle="tab">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="user-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <h4>All users</h4>
                                        <table class="table table-striped table-responsive">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Role</th>
                                                <th>Login</th>
                                                <th>Password</th>
                                                <th>Email</th>
                                                <th>Edit or delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr th:each = "user : ${users}">
                                                <th scope="row" th:text="${user.id}"></th>
                                                <td th:text="${user.roles}"></td>
                                                <td th:text="${user.login}"></td>
                                                <td th:text="${user.password}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td>
                                                    <a th:id="'editButton' + ${user.id}" class="btn btn-primary">Edit</a>
                                                    <a class="btn btn-primary" th:href="'/admin/delete/' + ${user.id}">Delete</a>
                                                </td>
                                                <script th:inline="javascript" type="text/javascript">
                                                    jQuery(document).ready( function() {
                                                        jQuery("#editButton" + [[${user.id}]]).click(function(){
                                                            putValues([[${user.id}]], [[${user.login}]], [[${user.password}]], [[${user.email}]]);
                                                            $("#myModal").modal('show');
                                                        });
                                                    });
                                                </script>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="add-user-panel">
                            <div class="panel panel-default table-panel">
                                <div class="tab-content">
                                    <div class="panel-body">
                                        <h4>Add new User</h4>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                                    <div id="error-add-message" class="alert alert-danger hidden">
                                                        <h3>Error!</h3>
                                                        <div id="error-message">Введёные данные не валидны или пользователь
                                                            с таким email уже существует</div>
                                                    </div>

                                                    <div id="success-add-message" class="alert alert-success hidden">
                                                        <h3>Success!</h3>
                                                        <div id="success-message">Пользователь успешно добавлен!</div>
                                                    </div>
                                                    <form action="/admin/addUser" method="POST">
                                                        <div class="form-group text-center edit-form">

                                                            <label for="email-input-add">Email</label>
                                                            <input id="email-input-add" class="form-control" type="text" placeholder="Enter email" name="email" required=""/>

                                                            <label for="login-input-add">Login</label>
                                                            <input id="login-input-add" class="form-control" type="text" placeholder="Login" name="login" required=""/>

                                                            <label for="pass-input-add">Password</label>
                                                            <input id="pass-input-add" class="form-control" type="password" placeholder="Password" name="password" required=""/>

                                                            <label for="role-input-add">Role</label>
                                                            <select class="form-control" id="role-input-add" name="role">
                                                                <option>User</option>
                                                                <option>Admin</option>
                                                                <option>Admin, User</option>
                                                            </select>

                                                            <button type="submit" class="btn btn-success add-user-button btn-lg">
                                                                Add new user
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div role="tabpanel" class="tab-pane" id="user-page">
                    <h1>User panel</h1>
                    <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
                </div>

            </div>
        </div>
    </div>







    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit user</h4>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-10 col-xs-10 col-lg-offset-3 col-xs-offset-2">
                                <div id="error-edit-message" class="alert alert-danger hidden">
                                    <h3>Error!</h3>
                                    <div id="error-edit">Данные не валидны или пользователь с таким email уже существует!</div>
                                </div>

                                <div id="success-edit-message" class="alert alert-danger hidden">
                                    <div id="message"></div>
                                </div>
                                <form id="edit-form" action="/admin/edit" method="POST">
                                    <div class="form-group text-center edit-form">
                                        <label for="id-input-edit">ID</label>
                                        <input id="id-input-edit" class="form-control" disabled="disabled" type="text" name="id" required=""/>
                                        <input type="hidden" id="id-input-edit-hidden" name="id"/>

                                        <label for="email-input-edit">Email</label>
                                        <input id="email-input-edit" class="form-control" type="email" name="email" required=""/>

                                        <label for="login-input-edit">Login</label>
                                        <input id="login-input-edit" class="form-control" type="text" name="login" required=""/>

                                        <label for="pass-input-edit">Password</label>
                                        <input id="pass-input-edit" class="form-control" type="text" name="password" required=""/>

                                        <label for="role-input-edit">Role</label>
                                        <select class="form-control" id="role-input-edit" name="role">
                                            <option>User</option>
                                            <option>Admin</option>
                                            <option>Admin, User</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="edit-submit" class="btn btn-primary">Edit User</button>
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function putValues(id, login, pas, email) {
        $('#id-input-edit').val(id);
        $('#id-input-edit-hidden').val(id);
        /*$('#hiddenId').val(id);*/
        $('#email-input-edit').val(email);
        $('#login-input-edit').val(login);
        $('#pass-input-edit').val(pas);
        /*$('#inputRole').val(roles);*/
    }

    $(document).ready(function(){
        $("#edit-submit").click(function(){
            $("#edit-form").submit();
        })
    })
</script>


<script type="text/javascript" th:if="${addError != null || addSuccess != null}">
    $("#user-table-nav").removeClass('active');
    $("#add-user-nav").addClass('active');
    $("#user-panel").removeClass('active');
    $("#add-user-panel").addClass('active');
</script>

<script type="text/javascript" th:if="${addError}">
    $("#error-add-message").removeClass('hidden');
</script>

<script type="text/javascript" th:if="${addSuccess}">
    $("#success-add-message").removeClass('hidden');
</script>


<script th:inline="javascript" type="text/javascript" th:if="${editError}">
    putValues([[${editedUser.id}]], [[${editedUser.login}]], [[${editedUser.password}]], [[${editedUser.email}]]);
    $("#myModal").modal('show');
    $("#error-edit-message").removeClass('hidden');
</script>

</body>
</html>