<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Страница входа</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        body {
            background: #eeeeee;
            padding-top: 12px;
        }

        form {
            margin-top: 12px;
        }

        .login-group :last-child {
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-11 col-md-offset-3 col-xs-offset-2 login-form text-center">
            <div class="col-xs-8 col-md-offset-2">
                <div class="alert alert-danger" th:if="${error}">
                    <h3>Ошибка!</h3>
                    <div id="error-message" th:text="${error}"></div>
                </div>
                <div id="logout-message" class="alert alert-success hidden">
                    <h3>Успешно!</h3>
                    <div id="success-message">Вы успешно вышли из системы.</div>
                </div>
                <h2>Пожалуйста, войдите в систему</h2>
                <!--При включенной в Spring Security CSRF-защите при логине пользователя мы обязаны передавать-->
                <!--на сервер CSRF-токен, полученный от этого же сервера ранее, чтобы подтвердить, что мы - -->
                <!--это мы, а не мошенники обращаются к серверу под видом нас.-->
                <!--В форму необходимо обязательно вставить следующее поле c CSRF-токеном:-->
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <!--Для этого достаточно указать th:action="..." и Thymeleaf сам добавит его.-->
                <form th:action="processing-url" method="POST">
                    <div class="form-group">
                        <div class="form-group login-group">
                            <input type="text" class="form-control" id="uName" name="login" placeholder="Email address"
                                   required="" th:value="user"/>
                            <input type="password" class="form-control" id="uPass" name="password"
                                   required="" th:value="user" placeholder="Password"/>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block btn-pull-center" value="Вход"/>
                    </div>
                </form>
                <div class="form-group">
                    <span>Новый пользователь? <a href="/registration/user">Зарегистрируйтесь здесь</a></span>
                </div>
                <form method="GET" id="google" th:action="@{/googleAuth}">
                    <button type="submit" class="btn btn-primary btn-block btn-pull-center">
                        Авторизация Google
                    </button>
                </form>
                <form method="GET" id="vkontakte" th:action="@{/vkAuth}">
                    <button type="submit" class="btn btn-primary btn-block btn-pull-center">
                        Авторизация Вконтакте
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>