<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/howler.js" th:src="@{/js/howler.js}"></script>
    <script src="../static/js/sound.js" th:src="@{/js/sound.js}"></script>
    <link rel="stylesheet" th:href="@{style.css}"/>

</head>

<body>
<div class="container-fluid">
    <div class="col-lg-3 col-md-2 col-xs-2 left-bar left-menu">
        <ul class="nav nav-pills nav-stacked nav-content">
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li>
                <a href="/user">User</a>
            </li>
            <li class="active">
                <a>Player</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-10 col-xs-10">
        <h1>User panel</h1>
        <button type="button" class="btn btnStop">Stop</button>
        песня 1
        <button type="button" class="btn btn1">Play</button>
        песня 2
        <button type="button" class="btn btn2">Play</button>

        песня 3
        <button type="button" class="btn btn3">Play</button>

    </div>
</div>
<!--<script type="text/javascript" src="/js/howler.js"></script>-->

</body>
</html>