<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{style.css}"/>

</head>

<body>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="admin-page">
        <h1>Admin panel</h1>

        <ul class="nav nav-tabs nav-content" role="tablist">
            <li id="user-table-nav" class="active">
                <a href="#user-panel" aria-controls="user-panel" role="tab" data-toggle="tab">Users table</a>
            </li>
            <li id="add-user-nav">
                <a href="#add-user-panel" aria-controls="add-user-panel" role="tab" data-toggle="tab">NewUser</a>
                </li>
                <li>
                    <a href="/p">Player</a>
                </li>
            </ul>
        </div>
</div>

</body>
</html>