<div class="row" th:fragment="adminHeader" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar navbar-inverse navbar-static-top header">
        <a class="navbar-brand" href="#"><b>Pacman player</b></a>
        <ul class="nav navbar-nav">
            <li id="headerUserBtn" style="display: none"><a href="/user/spa">Меню пользователя</a></li>
        </ul>
        <a class="navbar-brand pull-right" href="#" id="logout-btn">Выход</a>
        <button id="notification" class="navbar-brand pull-right">Уведомлений</button>
        <div id="listNotification" class="pull-right"></div>
    </div>
</div>

<ul class="nav nav-pills nav-stacked nav-content" th:fragment="adminNavbar" xmlns:th="http://www.thymeleaf.org">
    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/users' ? 'active' : ''}">
        <a href="/admin/users">Пользователи</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/companies' ? 'active' : ''}">
        <a href="/admin/companies">Компании</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/establishments' ? 'active' : ''}">
        <a href="/admin/establishments">Типы заведений</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/genres' ? 'active' : ''}">
        <a href="/admin/genres">Жанры</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/performers' ? 'active' : ''}">
        <a href="/admin/performers">Исполнители</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/songs' ? 'active' : ''}">
        <a href="/admin/songs">Песни</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/compilations' ? 'active' : ''}">
        <a href="/admin/compilations">Подборки</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/vk_bot' ? 'active' : ''}">
        <a href="/admin/report">Отчет</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/message' ? 'active' : ''}">
        <a href="/admin/message">Сообщения</a>
    </li>

    <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/notifications' ? 'active' : ''}">
        <a href="/admin/notifications">Уведомления</a>
    </li>
</ul>
